<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta charset="UTF-8">
    <title>Lands-Co Collector</title>
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
<div class="window-content main-window direction-rtl pt-3 d-flex flex-column" id="window-content">
    <div class="app-logo d-flex align-items-center">
        <div>
            <h6 class="dm-h pt-1 pl-1">جهاز مشروعات أراضى القوات المسلحة</h6>
            <h6 class="dm-h pt-1 pl-1">فرع نظم المعلومات</h6>
        </div>
        <i ondblclick="developerToast()"><img src="../assets/lands-logo.png" alt="" width="70" id="logo-img"></i>
    </div>
    <!--    <div class="app-title d-flex justify-content-center">-->
    <!--        <h4 class="dm-h pt-1 pl-1"> مرحباً <img src="../assets/waving.png" alt="" width="30"></h4>-->
    <!--    </div>-->
    <div class="row m-0">
        <div class="col-4">
            <div class="div d-flex">
                <i class="round-icon exit-btn" style="padding-bottom: 2px" onclick="exitWindow()"><img
                        src="../assets/close.png" width="12"
                        height="12" alt=""></i>
                <div class="mx-1"></div>
                <!--                <i class="round-icon mini-btn" style="padding-right: 2px" onclick="minimizeWindow()"><img-->
                <!--                        src="../assets/minimize.png" width="14" height="14" alt=""></i>-->
                <!--                <div class="mx-1"></div>-->
                <i id="dark-mode-toggle" class="round-icon dark-mode-btn"><img id="dark-mode-btn-img"
                                                                               src="../assets/sun.png" width="16"
                                                                               height="16" alt=""></i>
                <!--                <div class="mx-1"></div>-->
                <!--                <i class="round-icon mini-btn" style="padding-right: 2px" onclick="openAboutWindow()"><img-->
                <!--                        src="../assets/info.png" width="14" height="14" alt=""></i>-->
            </div>
        </div>
    </div>
    <div class="row mt-5 mx-1 mb-1 direction-ltr">
        <div class="col card-awesome d-flex flex-column">
            <object data="../assets/corona.svg" type="image/svg+xml" width="120" height="120"
                    class="m-2 align-self-center"></object>
            <div class="card-awesome-content flex-grow-1 d-flex flex-column justify-content-between mb-2"
                 style="margin-top: 9px">
                <h6 class="dm-h">الكورونا</h6>
                <div>
                    <button class="btn-3d" id="corona-update-btn" onclick="updateCorona(this)">
                        <div class="spinner">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                        <div class="text">
                            تحديث
                        </div>
                    </button>
                    <h6 class="date mt-1 direction-rtl" id="corona-date"></h6>
                </div>
            </div>
        </div>
        <div class="col card-awesome position-relative d-flex justify-content-center">
            <div class="icon sun-shower align-self-center">
                <div class="cloud"></div>
                <div class="sun">
                    <div class="rays"></div>
                </div>
                <div class="rain"></div>
            </div>
            <div class="card-awesome-content flex-grow-1 d-flex flex-column justify-content-between mb-2"
                 style="margin-top: 145px">
                <h6 class="dm-h">الطقس</h6>
                <div>
                    <button class="btn-3d" id="weather-update-btn" onclick="updateWeather(this)">
                        <div class="spinner">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                        <div class="text">
                            تحديث
                        </div>
                    </button>
                    <h6 class="date mt-1 direction-rtl" id="weather-date"></h6>
                </div>
            </div>
        </div>
        <div class="col card-awesome d-flex flex-column">
            <object data="../assets/currency.svg" type="image/svg+xml" width="120" height="120"
                    class="m-2 align-self-center"></object>
            <div class="card-awesome-content flex-grow-1 d-flex flex-column justify-content-between mb-2"
                 style="margin-top: 9px">
                <h6 class="dm-h">أسعار العملات</h6>
                <div>
                    <button class="btn-3d" id="currency-update-btn" onclick="updateCurrency(this)">
                        <div class="spinner">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                        <div class="text">
                            تحديث
                        </div>
                    </button>
                    <h6 class="date mt-1 direction-rtl" id="currency-date"></h6>
                </div>
            </div>
        </div>
        <div class="col card-awesome d-flex flex-column">
            <canvas id="mosque-riv" width="120" height="120" class="m-2 align-self-center"></canvas>
            <div class="card-awesome-content flex-grow-1 d-flex flex-column justify-content-between mb-2"
                 style="margin-top: 9px">
                <h6 class="dm-h">مواقيت الصلاة</h6>
                <div>
                    <button class="btn-3d" id="prayer-update-btn" onclick="updatePrayer(this)">
                        <div class="spinner">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                        <div class="text">
                            تحديث
                        </div>
                    </button>
                    <h6 class="date mt-1 direction-rtl" id="prayer-date"></h6>
                </div>
            </div>
        </div>
        <div class="col card-awesome d-flex flex-column">
            <canvas id="football-riv" width="120" height="120" class="m-2 align-self-center"></canvas>
            <div class="card-awesome-content flex-grow-1 d-flex flex-column justify-content-between mb-2"
                 style="margin-top: 9px">
                <h6 class="dm-h">مباريات اليوم</h6>
                <div>
                    <button class="btn-3d" id="football-update-btn" onclick="updateFootball(this)">
                        <div class="spinner">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                        <div class="text">
                            تحديث
                        </div>
                    </button>
                    <h6 class="date mt-1 direction-rtl" id="football-date"></h6>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-grow-1 justify-content-around align-items-end m-2">
        <div class="col">
            <input id="path-input" class="form-control mb-1 dm-input direction-ltr" type="text"
                   placeholder="مسار نقل البيانات" value="O:/Lands-Co/data">
            <button class="btn-3d btn-3d-orange align-self-end" onclick="sendData(this)">
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
                <div class="text">
                    إرسال البيانات لتطبيق المستخدم
                </div>
            </button>
        </div>
        <div class="col text-center">
            <h6 class="date mt-1 direction-rtl mb-1" id="all-date"></h6>
            <button class="btn-3d align-self-end" onclick="updateAllData(this)">
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
                <div class="text">
                    تحديث الكل
                </div>
            </button>
        </div>
    </div>
    <div id="snackbar"></div>
</div>
<script src="../scripts/countries.js"></script>
<script src="../scripts/utils.js"></script>
<script src="../controllers/index.controller.js"></script>
<script>
    document.getElementById('logo-img').addEventListener('dragstart', function (event) {
        event.preventDefault();
    });
</script>
</body>
</html>